DNS: {{ wireguard_dns_servers }}
Endpoint: {{ IP_subject_alt_name }}
Interface:
  Address: {{ wireguard_server_ip }}
  ListenPort: {{ wireguard_port_actual if wireguard_port|int == wireguard_port_avoid|int else wireguard_port }}
  PrivateKey: {{ wireguard_private_key }}
  SaveConfig: false
